
.buttonstyle{
    background-color: var(--secondray-maincolor);
    padding: 15px;
    border-radius: 10px;
    border-style: none;


}

.bigfake{  
        
        position: absolute;
        top: -6rem;
        left: 42vw;
        z-index: -1;
        font-size:300px;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.04);

}
.bigfakeleft{
    position: absolute;
    top: -8rem;
    left: 0vw;
    z-index: -1;
    font-size:300px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.04);

}
.titlesection {
    font-size: 35px;
    color: var(--secondray-maincolor);
    font-weight: bold;
    margin-bottom: 10px;
}
.titlesection1{
    font-size: 50px;
    font-weight: bold;
}


@media only screen and (max-width: 900px) {
    .titlesection {
        font-size: 25px;
    }
    .titlesection1 {
        font-size: 20px;
    
    }
    .letterA {
        width: 60px;
        height: 60px;
        margin-right: -13px;
        margin-left: -15px;
    }
    .ahmedlogo {
        width: 30px;
        height: 30px;
    }

}
/* //rubberband letter */
.a {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
    
}

.a:hover {
    /* color: var(--secondray-maincolor); */
    animation: rubberBand 1s infinite;
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/* style button */


.spancolor {
    color: var(--secondray-maincolor)
}

.redbox {
    background-color: red;
    width: "100px";
    height: 100px;
}



/* ######################landing######################## */
/* .video{
  width: 100%;
  height: 100%;
  object-fit: cover;

} */
.backgroundimage {
    /* background: linear-gradient(#000000de,
        #000000de ),url('../../public/assets/backgrounds/404288197149.jpg'); */
    /* background: linear-gradient(to right, #4286f4, #373B44); */
/* #080a25d0 */
    /* background:linear-gradient( #000000bd,#424242); */

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    z-index: -1;
    color: white;
    overflow: hidden;
    /* position: relative; */
    /* padding: 15vh 0px; */

}


.contactionbox {
    position: absolute;
    display: grid;
    justify-content: center;
    right: 50px;
    bottom: 100px;
    gap: 15px;

}


.WhoamiAnimation {
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .homeSection {
        order: 2;
    }

    .contactionbox {
        position: absolute;
        display: none;
        justify-content: center;
        bottom: 15%;
        right: 20%;
        gap: 15px;

    }

    .backgroundimage {
        padding: 0px;
        text-align: center;

    }

    .WhoamiAnimation {
        width: 300px;
        height: 300px;
        order: -1;
        padding-top: 100px;
    }

    .arrow {
        left: 45%;
    }
    



}

.icon {
    background-color: white;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--secondray-maincolor);
    color: white;
    transition: all .5s ease-in-out;
    transform: translateY(-10px);
}

/* .overlay{
  
  background-color: black;
  width: 100%;
  height: 100VH;
  z-index: 2;
  position: absolute;
  opacity: .6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: WHITE;


} */

.containertext {
    display: inline-block;
}

.typedout {
    overflow: hidden;
    border-right: .15em solid white;
    font-size: 40px;
    width: 0;
    white-space: nowrap;
    animation: typing 4s steps(20, end) infinite;
    color: var(--secondray-maincolor);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.arrow {
    animation: arrow 1.5s ease-in-out both;
    animation-iteration-count: infinite;

}

/* @media (max-width: 768px) .hero .go-down {
  bottom: -50px;
} */
@keyframes arrow {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0%);
    }

    40%,
    60% {
        transform: translateY(-30%);
    }

}


.wavejson{
    width: 100%;
}
.tsparticles{
    position: absolute!important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
    

    

}
/* #########################about################# */
.aboutbackground{
    /* background: linear-gradient(135deg, #000000 0%, #ffffff00 70% ), */
    /* background: linear-gradient(to right,#0a201cea 0%, #ffffff00 70%),
    url('../../public/assets/backgrounds/Background-ahmed1.jpg'); */
    /* background: linear-gradient(to right , #0f6973 10%, #ffffff00 70%),
    url('../../public/assets/backgrounds/Background-ahmed1.jpg'); */
    
    
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 70vh; */
    background-position: center;
    
    z-index: 2;
    
    overflow: hidden;
   
    /* padding: 15vh 0px; */
  

}


.photobox {
    position: relative;
    border: 10px solid #dc965a;



}
.profilephotogrid {
    display: none !important;
}

.photo {
    position: absolute;
    /* bottom: -30px;
  right: -30px; */
    bottom: -30px;
    right: -30px;
    cursor: pointer;


}

.photo:hover {
    animation: photomove 1s both;
    color:#fff1dcef;

}
.aleximage{
    margin-left: 10px;
}

@keyframes photomove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-30px, -30px);

    }
}

@media only screen and (max-width: 600px) {
.aboutbackground {
    
    /* background: linear-gradient(to right, #0f6973 , #0f6973 ),
        url('../../public/assets/backgrounds/Background-ahmed1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 70vh; */
    background-position: center;
    z-index: 2;
    overflow: hidden;

    /* padding: 15vh 0px; */


}

    .photobox {
        width: 300px;
        height: 300px;
        justify-content: center;
        left: 10%;
        

    }

    .photo {
        width: 280px;
        height: 280px;
        bottom: 0px;
        right: 0px;

    }
    .profilephotogrid {
        display: block !important;
    }
    /* .profile1 {
       padding-right: 50px;
     
    
    } */
    /* .profile1{
        position: center;
        margin-bottom: 100px;
        display: block!important;
    }
    .profile{
        display: none!important;
    } */
  
}

@media (min-width:600px) and (max-width: 900px){
    .aboutbackground {
     
        /* background: linear-gradient(to right, #0f6973, #0f6973),
            url('../../public/assets/backgrounds/Background-ahmed1.jpg'); */
    
    
    
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        /* height: 70vh; */
        background-position: center;
    
        z-index: 2;
    
        overflow: hidden;
    
        /* padding: 15vh 0px; */
    
    
    }
    .profilephotogrid {
        display: block !important;
    }
    .profile1{
        width: 500px;

    }
    
    /* 
    
    .profile {
        display: block!important;
    } */

}

/* ##################skills############### */
.backgroundseamless{
    /* background: linear-gradient(#000000de,#000000de
    ),
    url('../../public/assets/backgrounds/404288197149.jpg'); */
    /* background: linear-gradient(to right, #4286f4, #373B44); */
    
    /* background:linear-gradient( #000000bd,#424242); */
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 70vh; */
    background-position: center;
 
    z-index: 2;
    color: white;
    overflow: hidden;
    /* position: relative; */
    /* padding: 15vh 0px; */

}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;


}

.slideTrack {
    margin: 70px 0px;
    width: calc(80px * 7);
    /* perspective: 200px; */
    animation: scroll 10s linear infinite normal;


}

.slideTrack:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);

    }
}



.paper {
    transition: transform 1s;
    cursor: pointer;
    box-shadow: rgba(245, 101, 57, 0.3) 0px 0px 30px;

}

.paper:hover {
    /* transform: translateZ(20px); */
    transform: scale(1.2);
}


/* ################project############# */

/*############Papers############ */ 

/* .paperbackground{
    background: linear-gradient(#164038d0, #000000ec),
    url('../../public/assets/backgrounds/Conference\ -\ 5.png');
   
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    
    
    
    z-index: 2;
    color: white;
    overflow: hidden;
  
} */
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* color:#055f6946; */


}

.slideTrack {
    margin: 70px 0px;
    width: calc(410px * 3);
    /* perspective: 200px; */
    animation: scroll 10s linear infinite normal;


}
.layer{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(#1f6973b7, #000000ec);
}
.linkText {
    text-decoration: none;
}
.linkText:hover {
    text-decoration: underline var(--secondray-maincolor);
}

.iconLink:hover {
    color: #c7933a;
}
.paperimage{
    
    height: 400px;
}
.papername{
    font-weight: bolder;
    /* color: var(--secondray-maincolor); */
    
}
@media only screen and (max-width: 600px) {
    .paperimage {
        width: 350px;
        height: 200px;
    }

}



/********************* timeline ************************/
.timeline {
    transform: rotate(-90deg);
    
}


.timelineContentContainer {
    text-align: left;
    
}
.timelineContentup {
    display: inline-block;

    transform: rotate(90deg);
    text-align: center;
    
    min-width: 50;

}


.timelineContent {
    display: inline-block;
        transform: rotate(90deg);
        text-align:start;
        margin-top: 110px;
        min-width: 50;
        max-width: 350px;
        margin-right: -50px;
        
}


.timelineIcon {
    transform: rotate(90deg);
}


/* #############contact##############3 */
.myEmail {
    text-decoration: none;
}
.iconContact {
    background-color: var(--secondray-maincolor);
    cursor: pointer;
}

.iconContact:hover {
    color: var(--secondray-maincolor);
    background-color: white;
    transition: all .5s ease-in-out;
    transform: scale(1.3);
}
.mapbox {

    /* background-image: url('../../public/assets/Screenshot\ from\ 2023-05-24\ 17-26-00.png'); */
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}
.maplayer{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    /* background-color:#f7ae9d60; */
    /* background: linear-gradient(#f7ae9d80, #f7ae9d80); */

}
.linkText{
    color: var(--secondray-maincolor)!important;
}
/* .boxButton{
    position: relative;
    overflow: hidden;
    max-width: 200px;
    height: 45px;
    cursor: pointer;

}
.bgButton{
    position: absolute;
    left:-3px;
    background-color:var(--secondray-maincolor);
    width: 0;
    height: 100%;
    z-index: 3;
    transform: skewX(-10deg);
    transition: all .3s ease-out;
    

    
}
.baseButton{
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border:1px solid var(--secondray-maincolor );
    
}
.textButton{
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 15%;
    top: 5px;
    color: var(--secondray-maincolor);
    
   
}
.text{
    font-size: 23px;
}
.boxButton:hover .bgButton{
    width: 100%;
    
    
}
.boxButton:hover .textButton{
    color: black;

} */




/* **********************footer******************* */
.nadaavatar:hover{
    transform: scale(1.2);
    transition: all .5 ease-out;
    

}

.portfoliolink{
    color: var(--primary-color);
    text-decoration: none;

}
.portfoliolink:hover{
    text-decoration: underline;
}
/********************** icassp2023*************************/
.outlink{
    display: flex;
    color:var(--primary-color);
    gap: 20px;
}
.outlink:hover{
    color: var(--secondray-maincolor);
}
