
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
.buttonstyle{
    /* background-color: var(--secondray-maincolor); */
    /* background-image:  linear-gradient(to left top, #ddabea, #d19de7, #c390e4, #b484e1, #a378df); */
    background-image: linear-gradient(to right bottom, #a378df, #bc70ce, #cf68bc, #dc64a8, #e36294, #e56997, #e86f99, #ea769c, #ea84b3, #e893c8, #e4a1da, #e0b0ea);
    /* background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #9ea6e6, #a4b1ea, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff); */
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    display: flex;
    gap: 0px;
    align-items: center;
    cursor: pointer;
    width:fit-content;
    /* border:2px solid red; */
    transition: all 0.3s ease-in-out!important;
    color: white;
    position: relative;
    height: 60px;

}
.buttonstyle:hover{
    animation-name: backgroundglowing;
    animation-duration: 3s;
    animation-direction: normal;
}
@keyframes backgroundglowing {
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 0% 50%;
    }
    
}

.buttonstyle::before {
    content: "";
    width: 106%;
    height: 110%;
    border-radius: 8px;
    background-image: linear-gradient(
      to right
      , #A378DF, #E0B0EA 43%,#E5657B);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
     
    opacity: 0;
  }
  
  .buttonstyle::after {
    position: absolute;
    content: "";
    top:  calc(60px / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(60px / 6));
    background-image: linear-gradient(
      to left
      , #A378DF, #E0B0EA 43%,#E5657B);
      
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
    
    opacity: 0;
  }
  
  @keyframes spin {
    0% {
      background-position: 0% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
  }

  .buttonstyle:hover:before, .buttonstyle:hover:after {
    opacity: 1;
  }
  
/* .buttonstyle::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: red;
    animation-name: glowing;
    animation-duration: 3s;
    animation-direction: normal;

    top: -1px;
    
    
}
@keyframes glowing {
    0%{
        transform: translate(0%,0%);


    }
    25%{
        transform:translate(50%,0%);

    }
    50%{
        transform:translate(100%,0%);

    }
    75%{
        transform:translate(100%,-100%);

    }
    100%{
        transform:translate(0%,-100%);

    }
    
} */
  


.buttonstyle2{
    background-color: var(--secondray-maincolor);
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    gap: 0px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out!important;
    color: white;

}
.iconlink{
    width: 20px;
    height: 20px;
    display: none;
    transition: all 0.5s ease-in-out;

}
.buttonstyle:hover  .buttonstyle:after{
    opacity: 1;

  }
/* .buttonstyle:hover{
  
    background-image: linear-gradient(to right bottom, #a378df, #bc70ce, #cf68bc, #dc64a8, #e36294, #e56997, #e86f99, #ea769c, #ea84b3, #e893c8, #e4a1da, #e0b0ea); 
    gap: 10px;
    color:white;
    padding: 15px 10px;

} */

.buttonstyle:hover .iconlink{
    display: block;
}

.bigfake{  
        
        position: absolute;
        top: -6rem;
        left: 42vw;
        z-index: -1;
        font-size:300px;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.04);

}

/* <button class="button-89" role="button">Button 89</button> */

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.bigfakeleft{
    position: absolute;
    top: -8rem;
    left: 0vw;
    z-index: -1;
    font-size:300px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.04);

}
.titlesection {
    font-size: 35px;
    /* color: #D18DE0; */
    color:#A378DF;
    font-weight: bold;
    margin-bottom: 10px;
    margin: auto;
}
.titlesection1{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: white;
    
}


@media (min-width: 600px) and (max-width: 900px) {
    .titlesection {
        font-size: 25px;
    }
    .titlesection1 {
        font-size: 40px;
    
    }
    .letterA {
        width: 60px;
        height: 60px;
        margin-right: -13px;
        margin-left: -15px;
    }
    .ahmedlogo {
        width: 30px;
        height: 30px;
    }

}
@media only screen and (max-width: 600px) {
    .titlesection {
        font-size: 25px;
    }
    .titlesection1 {
        font-size: 25px;
    
    }
    .buttonstyle2{
       padding:auto;
       width: 100%;
       text-align: center;
    
    }
}
/* //rubberband letter */
.a {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
    
    
}

.a:hover {
    /* color: var(--secondray-maincolor); */
    animation: rubberBand 1s infinite;
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/* style button */


.spancolor {
    color: var(--secondray-maincolor)
}

.redbox {
    background-color: red;
    width: "100px";
    height: 100px;
}



/* ######################landing######################## */

.w{
    
    position: relative;
    overflow: hidden;
    display: inline-block;

}
.l{
    position: relative;
    overflow: hidden;
    display: block;
    float: left;

}
.c1{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    animation-name: automatichover;
    animation-duration: 4s;
    transform: translate(0%,0%);
    transition-duration: 0s;

}
.c1:hover{
    transform: translate(-100%,0%);
    transition-duration: 0.3s;

}
@keyframes automatichover{
    0%{transform: translate(0%,0%);}
    50%{transform: translate(-100%,0%);}
    100%{transform: translate(0%,0%);}
    
}
.firstview{
    background-image: url("../../public/assets/h.png");
    background-size: 61px 320px;
    background-position: 0 -160px;
    left: 100%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

}
.secoundview{
    background-image: url("../../public/assets/h.png");
    background-size: 61px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.c2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transform: translate(0%,0%);
    transition-duration: 0s;
    animation-name: automatichover1;
    animation-duration: 4s;

}
.c2:hover{
    transform: translate(0%,-100%);
    transition-duration: 0.3s;

}
@keyframes automatichover1{
    0%{transform: translate(0%,0%);}
    50%{transform: translate(0%,-100%);}
    100%{transform: translate(0%,0%);}
    
}
.firstview2{
    background-image: url("../../public/assets/i.png");
    background-size: 27px 320px;
    background-position: 0 -160px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;

}
.secoundview2{
    background-image: url("../../public/assets/i.png");
    background-size: 27px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstview3{
    background-image: url("../../public/assets/comma.png");
    background-size: 22px 320px;
    background-position: 0 160px;
    left: 100%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

}
.secoundview3{
    background-image: url("../../public/assets/comma.png");
    background-size: 22px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstview4{
    background-image: url("../../public/assets/m.png");
    background-size: 85px 320px;
    background-position: 0 -160px;
    left: 100%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

}
.secoundview4{
    background-image: url("../../public/assets/m.png");
    background-size: 85px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstview5{
    background-image: url("../../public/assets/n.png");
    background-size: 63px 320px;
    background-position: 0 -160px;
    left: 100%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

}
.secoundview5{
    background-image: url("../../public/assets/n.png");
    background-size: 63px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstview6{
    background-image: url("../../public/assets/a.png");
    background-size: 66px 320px;
    background-position: 0 -160px;
    left: 0%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;

}
.secoundview6{
    background-image: url("../../public/assets/a.png");
    background-size: 66px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstview7{
    background-image: url("../../public/assets/d.png");
    background-size: 61px 320px;
    background-position: 0 -160px;
    left: 100%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

}
.secoundview7{
    background-image: url("../../public/assets/d.png");
    background-size: 61px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstviewS{
    background-image: url("../../public/assets/s.png");
    background-size: 61px 320px;
    background-position: 0 -160px;
    left: 100%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
.secoundviewS{
    background-image: url("../../public/assets/s.png");
    background-size: 61px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstviewr{
    background-image: url("../../public/assets/r.png");
    background-size: 66px 320px;
    background-position: 0 -160px;
    left: 0%;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;

}
.secoundviewr{
    background-image: url("../../public/assets/r.png");
    background-size: 66px 320px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;

}
.firstview111{
    background-image: url("../../public/assets/learn-more.png");
    background-size: 110px 100px;
    background-position: 0 -50px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;
    cursor: pointer;

}
.secoundview111{
    background-image: url("../../public/assets/learn-more.png");
    background-size: 110px 100px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;
    cursor: pointer;

}















/* .video{
  width: 100%;
  height: 100%;
  object-fit: cover;

} */
.landingbackground {
    background: linear-gradient(#bbb7b78f,
        #00000000 ),url('../../public/assets/background/cloudy-purple-pink-background_91008-257.avif');
    /* background: linear-gradient(to right, #4286f4, #373B44); */
/* #080a25d0 */
    /* background:linear-gradient( #000000bd,#424242); */

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    z-index: -1;
    color: white;
    overflow: hidden;
    /* position: relative; */
    /* padding: 15vh 0px; */

}


.contactionbox {
    position: absolute;
    display: grid;
    justify-content: center;
    right: 50px;
    bottom: 100px;
    gap: 15px;

}




@media only screen and (max-width: 600px) {
    .homeSection {
        order: 2;
    }

    .contactionbox {
        position: absolute;
        display: none;
        justify-content: center;
        bottom: 15%;
        right: 20%;
        gap: 15px;

    }

    .backgroundimage {
        padding: 0px;
        text-align: center;

    }

    .WhoamiAnimation {
        width: 300px;
        height: 300px;
        order: -1;
        padding-top: 100px;
    }

    .arrow {
        left: 45%;
    }
    



}

.icon {
    background-color: white;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--secondray-maincolor);
    color: white;
    transition: all .5s ease-in-out;
    transform: translateY(-10px);
}

/* .overlay{
  
  background-color: black;
  width: 100%;
  height: 100VH;
  z-index: 2;
  position: absolute;
  opacity: .6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: WHITE;


} */

.containertext {
    display: inline-block;
}

.typedout {
    overflow: hidden;
    border-right: .15em solid white;
    font-size: 40px;
    width: 0;
    white-space: nowrap;
    animation: typing 4s steps(20, end) infinite;
    color: var(--secondray-maincolor);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.arrow {
    animation: arrow 1.5s ease-in-out both;
    animation-iteration-count: infinite;

}

/* @media (max-width: 768px) .hero .go-down {
  bottom: -50px;
} */
@keyframes arrow {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0%);
    }

    40%,
    60% {
        transform: translateY(-30%);
    }

}


.wavejson{
    width: 100%;
}
.tsparticles{
    position: absolute!important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
    

    

}
/* #########################about################# */
/* .aboutbackground{
    background-color:#E5DEDE ;
} */
.photoabout{
    border-radius: 10px;

}




.photobox {
    position: relative;
    border: 10px solid #dc965a;



}
.profilephotogrid {
    display: none !important;
}

.photo {
    position: absolute;
    /* bottom: -30px;
  right: -30px; */
    bottom: -30px;
    right: -30px;
    cursor: pointer;


}

.photo:hover {
    animation: photomove 1s both;
    color:#fff1dcef;

}
.aleximage{
    margin-left: 10px;
}

@keyframes photomove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-30px, -30px);

    }
}
.firstviewabout{
    background-image: url("../../public/assets/Get\ In\ Touch.png");
    background-size: 110px 100px;
    background-position: 0 -50px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;
    cursor: pointer;

}
.secoundviewabout{
    background-image: url("../../public/assets/Get\ In\ Touch.png");
    background-size: 110px 100px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;
    cursor: pointer;

}


/* ##################skills############### */
.skillbackground{ 
    background-color:#EAC0C9;
}
.mediumbackgoundskilllanding{
    position: relative;
    width: 100%;
    height: 100px;
    /* background-color: #FEF2D8; */
    background-color: #EAC0C9;
    
   

}
.mediumbackgoundskilllanding::before{
    content: "";
    position: absolute;
    background-color:#EBE8E7;
    
    width: 100%;
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);

}
.mediumbackgoundskill{
    position: relative;
    width: 100%;
    height: 100px;
    /* background-color: #FEF2D8; */
    
    background-color: #CBD5EE;

}


.mediumbackgoundskill::before{
    content: "";
    position: absolute;
    background-color: #EAC0C9;
    width: 100%;
    height: 100px;
    clip-path: polygon(60% 60%, 100% 0, 0 0%);

}


.slider {
    position: relative;
    overflow: hidden;
    width: 100%;


}

.slideTrack {
    margin: 70px 0px;
    width: calc(80px * 7);
    /* perspective: 200px; */
    animation: scroll 10s linear infinite normal;


}

.slideTrack:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);

    }
}



.paper {
    transition: transform 1s;
    cursor: pointer;
    box-shadow: rgba(245, 101, 57, 0.3) 0px 0px 30px;

}

.paper:hover {
    /* transform: translateZ(20px); */
    transform: scale(1.2);
}


/* ################project############# */
.boximage{
    width: 600px;
    
}
.boximagesmall{
    width: 350px;
}
.firstviewgithub{
    background-image: url("../../public/assets/Github.png");
    background-size: 110px 100px;
    background-position: 0 -50px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;
    cursor: pointer;

}
.secoundviewgithub{
    background-image: url("../../public/assets/Github.png");
    background-size: 110px 100px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;
    cursor: pointer;
}
.firstviewapp{
    background-image: url("../../public/assets/Website.png");
    background-size: 110px 100px;
    background-position: 0 -50px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    overflow: hidden;
    cursor: pointer;

}
.secoundviewapp{
    background-image: url("../../public/assets/Website.png");
    background-size: 110px 100px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 0 0px;
    cursor: pointer;
}



/*############Papers############ */ 

/* .paperbackground{
    background: linear-gradient(#164038d0, #000000ec),
    url('../../public/assets/backgrounds/Conference\ -\ 5.png');
   
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    
    
    
    z-index: 2;
    color: white;
    overflow: hidden;
  
} */
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* color:#055f6946; */


}

.slideTrack {
    margin: 70px 0px;
    width: calc(410px * 3);
    /* perspective: 200px; */
    animation: scroll 10s linear infinite normal;


}
.layer{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(#1f6973b7, #000000ec);
}
.linkText {
    text-decoration: none;
}
.linkText:hover {
    text-decoration: underline var(--secondray-maincolor);
}

.iconLink:hover {
    color: #c7933a;
}
.paperimage{
    
    height: 400px;
}
.papername{
    font-weight: bolder;
    /* color: var(--secondray-maincolor); */
    
}
@media only screen and (max-width: 600px) {
    .paperimage {
        width: 350px;
        height: 200px;
    }

}
.projectbackground{
    background-color:#CBD5EE;
}




/* #############contact##############3 */
.mediumbackgoundcontact{
    position: relative;
    width: 100%;
    height: 100px;
    /* background-color: #FEF2D8; */
    background-color: #EAC0C9;
    


}
.mediumbackgoundcontact::before{
    content: "";
    position: absolute;
    background-color: #CBD5EE;
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 100%, 100% 0, 0 0);

}
.contactbackground{
        /* background: linear-gradient( #eac0c9c0,
            #00000000 ),url('../../public/assets/background/common-bg.svg'); */
        background-color: #EAC0C9;
 
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        z-index: -1;
       
        overflow: hidden;
      

}
.forminput{
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #F0F0F0;
    border: 0.5px solid #d1cece;
    /* border-style: none; */
}
.forminput2{
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #F0F0F0;
    border: 0.5px solid #d1cece;
    padding: 20px 10px;
    height: 200px;
    font-size: 15px;
    font-weight: 50px;
   
    

}
.labelform{
    color: #666666;
}




/* **********************footer******************* */
.nadaavatar:hover{
    transform: scale(1.2);
    transition: all .5 ease-out;
    

}

.portfoliolink{
    color: var(--primary-color);
    text-decoration: none;

}
.portfoliolink:hover{
    text-decoration: underline;
}
